.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1505635552518-3448ff116af3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80');
    background-size: cover;
}
.ghost {
    font-size: 80px;
    animation: ghost 4s infinite;
    transform: rotate(0deg);
}

@media only screen and (min-width: 600px) {
    .ghost:nth-of-type(1) {
        display: none;
    }
    .ghost:nth-of-type(2) {
        display: none;
    }
    
} 

@keyframes ghost {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(20deg);
    }
    40% {
        transform: rotate(-60deg);
    }
    60% {
        transform: rotate(50deg);
    }
    80% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}